<!DOCTYPE html>
<html>
  <head>
    <title> Sample </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="teien/teien.js"></script>
    <script src="sample/sample_headers.js"></script>
  </head>

  <body>
    <div id="threejs_canvas"></div>
    <script src="sample/sample_browser.js"></script>
  </body>
</html>
